@model PlayerList;
@{

}
<style>
    .playerlist{
        text-align: right;
    }
</style>
<body>
    <div class="text-center row">
        <div class="col-5">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <form asp-action="Add" method="post">
                <p class="alert-danger">@Model.errorMessage</p>
                <label asp-for="name" class="control-label">Add a new player:</label>
                <input class="col-3" maxlength="30" asp-for="name" class="form-control" />
                <button type="submit">Add</button>
            </form>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            @if (Model.players.Count > 1)
            {
                <form asp-action="Next" method="post">
                    <button class="btn-primary" type="submit">Next Player</button>
                </form> 
            }
        </div>
        <div class="col-2">
            <div class="playerlist">
                    <br />
                    <br />
                    <br />
                    <br />
                    @if (Model.players.Count > 0)
                    {
                        <h3 style="text-align: center;">Order of Players</h3>
                        @foreach (Player player in Model.players)
                    {
                            <form asp-action="Remove" method="post">
                                <input hidden="hidden" asp-for="name" value="@player.name" class="form-control" />
                            
                                <p>@player.name    <button class="alert-danger" type="submit">Remove</button></p>
                            </form>
                        }
                    }
            </div>

        </div>
        <div class="col-4">
            <div>
                <br />
                <br />
                <br />
                <br />
                <br />
                @if (Model.allPlayers.size > 0)
                {
                    <h3 style="padding-left: 70px">All Players</h3>
                    @for (int i = 0; i < Model.allPlayers.size; i++)
                    {
                        <form asp-action="Add" method="post">
                            <p>
                                <input hidden="hidden" asp-for="name" value="@ViewBag.TotalTurns[i].name" class="form-control">
                                @if (!ViewBag.ViewList.Contains(ViewBag.TotalTurns[i].name))
                                {
                                    <div style="text-align: left">
                                        <button class="alert-success" type="submit">Add back to queue</button>
                                        @ViewBag.TotalTurns[i].name has played @ViewBag.TotalTurns[i].totalTurns times
                                    </div>
                                }
                                else
                                {
                                    <div style="text-align: left; padding-left: 155px">
                                        @ViewBag.TotalTurns[i].name has played @ViewBag.TotalTurns[i].totalTurns times
                                    </div>
                                }
                            </p>
                        </form>
                    }
                }
            </div>
        </div>
    </div>
</body>

